<html ng-app="myModule">
    <head>
    <style> 
        body{
            padding:100px;
        }
        
    </style>
    
        <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
                crossorigin="anonymous">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    </head>
    <body class="container">
        <div class="col-lg-8" ng-controller="myController1">
        <input type="text" id="name" ng-model="name">
            <div id="output"> 
            This is the output coming from above text box  {{name}}
            </div>
            <div>
            
            {{ myownfield}}
            </div>
        </div>
        <div>
            <br>
                This is section 2 controller 
            
        </div>
        
        <div class="col-lg-8" ng-controller="myController2">
        <input type="text" id="name" ng-model="name">
            <div id="output"> 
            This is the output coming from above text box  {{name}}
            </div>
            <div>
            
            {{ myownfield}}
            </div>
        </div>
        
        
        <script>
        var module=angular.module("myModule",[])
        module.controller("myController1",function($scope){
    
          $scope.name="this is my controller1"
          $scope.myownfield="this is my ownfield defined in scope object"  
            
        })
        
        module.controller("myController2",function($scope){
    
          $scope.name="this is my controller2"
          $scope.myownfield="this is my ownfield defined in scope object for controller 2"  
            
        })
        
        
        </script>
        
        
        
        
        
        
        
    </body>
</html>